@import url(Reset.css);

/* Custom colors and variables */
@font-face {
    font-family: headerFont;
    src: url("../Assets/Fonts/QuartzoBold-W9lv.ttf");
}

@font-face {
    font-family: bannerFont;
    src: url("../Assets/Fonts/LandasansMedium-ALJ6m.otf");
}
#root,
.App {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* Header Styling || */
.page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    padding-bottom: 10px;
}

.header-text {
    font-family: headerFont;
    font-size: 4rem;

    background: -webkit-linear-gradient(red, blue);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    margin-left: 25px;
}

.header-waldo {
    float: right;
    max-height: 150px;
    max-width: auto;
}

/* Homepage styling || */
.homepage-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
}

.information-banner,
.game-information-banner,
.leaderboard-information-banner {
    background-color: red;
    width: 100vw;
    text-align: center;
    margin: 25px 0px 25px 0px;
}

.information-banner p,
.game-information-banner-text,
.leaderboard-information-banner p {
    margin: 25px;
    font-size: 24px;
    font-family: bannerFont;
    letter-spacing: .45em;
}

.display-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding: 10px;

    color: black
}

.display-card:hover {
    transform: scale(1.05);
}

.level-select-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}

.level-select-mini-map {
    height: 175px;
    width: 280px;
}

.display-card-level-info {
    display: flex;
    justify-content: space-between;
    overflow: auto;
    align-items: center;
    width: auto;
    margin: 10px;
}

.difficulty-text {
    text-align: right;
}

.level-text {
    margin-bottom: 10px;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: underline;
}

.display-card-char-icons {
    display: flex;
}

.char-icon {
    height: 35px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    margin: 0px 5px 0px 5px;
}

.found {
    filter: brightness(50%);
}

.leaderboard-banner {
    display: flex;
    justify-content: center;

    width: 100%;
    margin-top: 50px;
    padding: 10px;
    background-color: red;
}

.leaderboard-link {
    color: black;
    font-family: banner-font;
    text-decoration: none;
}

.leaderboard-link:hover {
    transform: scale(1.05);
}

/* Game Page Styling */
.game-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-information-banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.game-start-btn,
.leaderboard-btn {
    font-size: 24px;
    font-family: bannerFont;
    letter-spacing: .5rem;
    color: black;
    padding: 5px;
    background-color: #f2f2f2;
    text-decoration: none;
}

.game-char-icons {
    display: flex;
    background-color: white;
    border-radius: 10px;
}

.char-icon-name {
    padding: 5px;
}

.char-name {
    font-size: 12px;
}

.game-field {
    position: relative;
    width: 1000px;
    height: 650px;
}

.game-field:first-child {
    position: relative;
}

.game-image {
    width: 100%;
    height: 100%;
}

/* Dropdown styling || */
.game-dropdown-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
}

.dropdown-target-box {
    border: 5px solid black;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.dropdown-names {
    display: flex;
    flex-direction: column;
    padding: 5px;
    background-color: gray;
    margin-top: 5px;
}

.dropdown-btn {
    margin-bottom: 2px;
}

/* Leaderboard Styling */
.leaderboard-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.leaderboard-information-banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.leaderboard-cards {
    display: flex;
}

.leaderboard-display-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding: 10px;

    color: black
}

.leaderboard-display-card.active {
    border: 3px solid red;
}

.leaderboard-display-card:hover,
.game-start-btn:hover,
.leaderboard-btn:hover {
    transform: scale(1.05);
}

.leaderboard-mini-map {
    height: 125px;
    width: 125px;
}

/* Leaderboard table styling */
.table-container {
    width: 85%;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid;
    padding: 5px;
    margin-top: 50px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
} 

.table-col {
    background-color: red;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
}

.leaderboard-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Footer styling || */

.footer-wrapper {
    color: black;
    background-color: var(--primary-background);
    text-align: center;
    bottom: 0;
    height: 50px;
    width: 100%;
    margin-top: auto;
    padding: 25px;
  }
  
  .footer-wrapper a {
    text-decoration: none;
  }